@media screen and (max-width:1200px){
header.container{
    display:flex;
    flex-direction:column;
}
.video{
    display:block;
    margin:0 auto;
    width:300px;
   }
}


@media screen and (min-width:100px){
.descricao{
        width:50%;
}
}